

<!--Thread Section Wrapper-->
<section id="resume-landing" class="container-fluid">

  <div class="header-placeholder"></div>

  <mdb-card id="resume-landing-content">
    <mdb-card-header class="blue text-center py-4 text-white">
      <h2><strong>About Me</strong></h2>
    </mdb-card-header>

    <mdb-card-body>
      <!-- Section: Blog v.1 -->
      <section class="text-center">

        <img src="assets/img/da_zhang.jpg" class="img-fluid z-depth-1 rounded-circle my-3" width="200px"
             alt="Da Zhang">
        <h2><strong>Da Zhang</strong></h2>
        <!-- Section description -->
        <p class="w-responsive mx-auto mt-3 mb-0">
          <i>
            Hi there, my name is <strong>Da Zhang</strong>, you can also call me <strong>Nemo</strong>.<br>
            I was born in northeast China in 1990s and raised there.<br>
            In 2017, I came to the US to pursue a Master's degree.<br>
            I'm now a full stack software developer living in Los Angeles...
          </i>
        </p>

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid" src="../../assets/img/programming.png" alt="Programming">
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-7">

            <h5 class="font-weight-bold mb-3 mt-0 blue-text"><mdb-icon fas icon="code"></mdb-icon>&nbsp;&nbsp;Programming</h5>
            <!-- Post title -->
            <h4 class="font-weight-bold mb-3"><strong>I am a programmer</strong></h4>
            <!-- Excerpt -->
            <p class="mb-0">
              In 2013, I wrote my first <i>"Hello World"</i> in C language, which was the starting point of my programmer career.
              I chose software track rather than hardware when I was a sophomore, it allowed me to take a glance at some modern web frameworks.
              After graduation, I went to the US to continue my study in computer science. I can clearly remember that a professor told us
              in the first semester -- <i>"Your interviewer will be shocked if you know about serverless, that's the next generation web technology..."</i>.
              Yes, yes, they were shocked by me, however, because I DIDN'T know about serverless in the interviews at that time LOL~
            </p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-lg-7">

            <h5 class="font-weight-bold mb-3 mt-0 blue-text"><mdb-icon fas icon="plane-departure"></mdb-icon>&nbsp;&nbsp;Travel</h5>

            <!-- Post title -->
            <h4 class="font-weight-bold mb-3"><strong>I am a traveler</strong></h4>
            <!-- Excerpt -->
            <p class="mb-0">
              When I was a little child, my favorite TV shows were travel shows. I was obsessed with exploring the world, meeting amazing people
              and flying from one place to another. Once, I found an old album of my grandpa on the shelf, all of the pictures were taken in Russia and Ukraine.
              He told me he had been to a lot of countries and cities, he even could speak Russian and Japanese. Grandpa said,
              <i>"Travel is a kind of self-enhancement, I enjoyed myself in those old days, I cherish the wonderful memories, I miss my old friends..."</i> When I grew up,
              I traveled across half of the China, after that, I started to plan to travel abroad...
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-5 order-first order-lg-2">

            <!-- Featured image -->
            <div class="view rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid" src="../../assets/img/travel.jpg" alt="Travel">
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid" src="../../assets/img/game.jpg" alt="Game">
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-7">

            <h5 class="font-weight-bold mb-3 mt-0 blue-text"><mdb-icon fas icon="gamepad"></mdb-icon>&nbsp;&nbsp;Game</h5>
            <!-- Post title -->
            <h4 class="font-weight-bold mb-3"><strong>I am a Gamer</strong></h4>
            <!-- Excerpt -->
            <p class="mb-0">
              My uncle brought our first computer home in 2000 (or 2001, I really can't remember that). He mainly used that computer
              to trade stocks. While, I <del>mainly</del> used it to play computer games! I played RTS games first, StarCraft, Age of Empires
              , Command & Conquer, but finally I found I could handle none of them, because of my low APM :( Well then, things changed when I began to try something new,
              some RPG and MOBA games, I found my self-worth there! Even, My first line of code in my life was not "Hello World", it was a macro command in World of Warcraft
              (driven shield + hearthstone for paladin).
            </p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Blog v.1 -->

    </mdb-card-body>
  </mdb-card>

  <div class="footer-placeholder"></div>

</section>
<!--/Thread Section Wrapper-->
