<!--Thread Section Wrapper-->
<section id="post-detail" class="container-fluid">

  <div class="header-placeholder"></div>

  <mdb-card>
    <mdb-card-header class="text-center view p-0" id="featured-header">
      <img [src]="featuredImg" style="width: 100%; height: 500px" [alt]="post?.title">
      <div class="mask flex-center pattern-1"></div>
    </mdb-card-header>

    <mdb-card-body>
      <h2 class="text-center"><strong>{{ post?.title }}</strong></h2>
      <h6 class="text-center"><em>{{ post?.createdAt | date:'medium' }}</em></h6>
      <quill-view [content]="post?.content" format="html" theme="snow"></quill-view>
    </mdb-card-body>
  </mdb-card>

  <div class="footer-placeholder"></div>

</section>
<!--/Thread Section Wrapper-->
