<section id="thread-post" class="container-fluid">

  <div class="header-placeholder"></div>

  <mdb-card >

    <mdb-card-header class="blue white-text text-center py-4">
      <h2><strong>{{ thread?.subject }}</strong></h2>
    </mdb-card-header>

    <mdb-card-body class="pt-0 pb-0">
      <!-- Section: Blog v.1 -->
      <section class="my-5" *ngFor="let post of posts; let last = last;">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-5 col-xl-4">

            <!-- Featured image -->
            <a [routerLink]="'/posts/view/' + post.id">
              <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                <img class="img-fluid" [src]="post?.featuredImg ? s3StorageService.getS3ObjectUrl(post?.featuredImg) : 'assets/img/placeholder.png'" [alt]="post?.title">
                <div class="mask waves-effect waves-light flex-center rgba-grey-strong"></div>
              </div>
            </a>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-7 col-xl-8">

            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h3>
            <!-- Post data -->
            <p class="font-weight-bold dark-grey-text">
              <mdb-icon far icon="calendar-alt" class="pr-2"></mdb-icon>{{ post?.createdAt | date:'medium' }}
            </p>
            <p>{{ domParser.parseFromString(post?.content, 'text/html')?.body.innerText?.substring(0, 800) + '...' }}</p>
            <!-- Read more button -->
            <a class="ml-0" mdbBtn color="primary" mdbWavesEffect [routerLink]="'/posts/view/' + post.id">Read More</a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr *ngIf="!last" class="my-5">


      </section>
      <!-- Section: Blog v.1 -->
    </mdb-card-body>
  </mdb-card>

  <div class="footer-placeholder"></div>

</section>
