<!--Thread Section Wrapper-->
<section id="post-landing" class="container-fluid">

  <div class="header-placeholder"></div>

  <mdb-card>
    <mdb-card-header class="blue white-text text-center py-4">
      <h2><strong>Newest Posts</strong></h2>
    </mdb-card-header>

    <mdb-card-body>

      <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
        <mdb-carousel-item *ngFor="let postSlider of postSliders">
          <div class="col-md-4 pb-2" *ngFor="let post of postSlider">
            <mdb-card class="my-1 h-100">
              <div class="view overlay">
                <a [routerLink]="'view/' + post?.id">
                  <mdb-card-img [src]="post?.featuredImg ? s3StorageService.getS3ObjectUrl(post.featuredImg) : 'assets/img/placeholder.png'" alt="Card image cap"></mdb-card-img>
                  <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                  </div>
                </a>
              </div>
              <mdb-card-body>
                <mdb-card-title>
                  <h3 *ngIf="post"><strong>{{ post?.title }}</strong></h3>
                  <div *ngIf="!post">
                    <div class="loading-line" style="height: 15px"></div>
                    <div class="loading-line" style="height: 15px"></div>
                  </div>
                  <p class="font-weight-bold dark-grey-text">
                    <mdb-icon *ngIf="post" far icon="calendar-alt" class="pr-2"></mdb-icon>{{ post?.createdAt | date:'medium' }}
                  </p>
                  <div *ngIf="!post" class="loading-line"></div>
                </mdb-card-title>
                <div *ngIf="!post">
                  <div class="loading-line" style="width: 99%"></div>
                  <div class="loading-line" style="width: 94%"></div>
                  <div class="loading-line" style="width: 95%"></div>
                  <div class="loading-line" style="width: 93%"></div>
                  <div class="loading-line" style="width: 97%"></div>
                  <div class="loading-line" style="width: 92%"></div>
                </div>
                <p *ngIf="post">{{ domParser.parseFromString(post?.content, 'text/html')?.body.innerText?.substring(0, 300) + '...' }}</p>
              </mdb-card-body>
              <mdb-card-footer>
                <a [routerLink]="'view/' + post?.id" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Read More</a>
              </mdb-card-footer>
            </mdb-card>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </mdb-card-body>
  </mdb-card>

  <mdb-card class="mt-5">
    <mdb-card-header class="blue white-text text-center py-4">
      <h2><strong>All Categories</strong></h2>
    </mdb-card-header>

    <mdb-card-body>
      <div class="row" *ngFor="let threadRow of threadRows">

        <div class="col-md-4 mx-auto my-3" mdbWavesEffect *ngFor="let thread of threadRow">
          <div class="view overlay card">
            <a [routerLink]="'/threads/view/' + thread?.id">
              <img
                class="img-fluid"
                [src]="thread?.featuredImg ? s3StorageService.getS3ObjectUrl(thread.featuredImg) : 'assets/img/placeholder.png'"
                [alt]="thread?.subject"
              />
              <div class="mask waves-effect waves-light flex-center rgba-grey-strong">
                <h3 class="white-text">{{ thread?.subject }}</h3>
              </div>
            </a>
          </div>
        </div>

      </div>
    </mdb-card-body>
  </mdb-card>


  <div class="footer-placeholder"></div>

</section>
<!--/Thread Section Wrapper-->
